body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.contenedorPrincipal{
    
 padding: 0 10px 0 10px;

 margin: 0 auto;
    
}


.main{
    width: 100%;
    

    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(10px);

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    margin: 0 auto 5vh;

    text-align: center;
    padding-top: 20px;
    padding-bottom: 5%;

    box-shadow: 5px 5px 30px aliceblue;
   
}

h1{
    font-size: 3em;
    margin-bottom: 40px;

    color: aliceblue;
}


.contenedorEspanol{
    
    width: 45%;
    display: inline-block;

    padding: 10px;
    
}



.contenedorEncriptado{
    
    width: 45%;
    display: inline-block;
   
    padding: 10px;

}



textarea{
    font-family: "Josefin Sans", sans-serif;

    background-color: transparent;

    
    width: 75%;
    height: 450px;

    color: aliceblue;

    resize: none;

    padding: 20px;
    font-size: 2em;

    border: none;
    border-left: aliceblue solid;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 9px;             
}
  
textarea::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);      
}
  
textarea::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);   
    border-radius: 20px;     
    border: 3px solid rgba(0, 0, 0, 0); 
}


.inputButton{
    font-family: "Josefin Sans", sans-serif;

    font-size: 2em;
    padding: 20px; 
    color: aliceblue; 

    border: none;

    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(10px);

    border-radius: 20px;

    margin-right: 30px;

    box-shadow: 5px 5px 30px aliceblue;
}

.contenedorEspanol > .inputButton{

    font-size: 1.5em;
    margin-top: 30px;

}

.contenedorEncriptado > .inputButton{

    font-size: 1.5em;
    margin-top: 30px;

}


.inputButton:hover{
    color: gray;
    background-color: aliceblue;
    transition: 0.5s;
}



.nombre {

    text-align: right;
    margin-top: 10px;
    margin-right: 15px;
}


/*Configuraciones Verticales*/

@media only screen and (max-width : 700px) {
    
    .contenedorEspanol{
        display: block;

        width: 90%;
    }

    .contenedorEncriptado{
        display: block;

        width: 90%;
        
    }

    textarea{
        height: 220px;
        font-size: 1em;
    }

    

    .inputButton{
        font-size: 1.5em;
    }
}

@media only screen and (max-width : 600px){

    .inputButton{
        font-size: 1em;
    }

    .contenedorEspanol > .inputButton{

        font-size: 1em;
        margin-top: 30px;
    
    }
    
    .contenedorEncriptado > .inputButton{
    
        font-size: 1em;
        margin-top: 30px;
    
    }
}

@media only screen and (max-width : 500px){

    .inputButton{

        margin-right: 10px;
        font-size: 0.8em;
        padding: 18px;
    }

    .contenedorEspanol > .inputButton{

        font-size: 0.8em;
        margin-top: 30px;
        padding: 18px;
    
    }
    
    .contenedorEncriptado > .inputButton{
    
        font-size: 0.8em;
        margin-top: 30px;
        padding: 18px;
    
    }
}

@media only screen and (max-width : 400px){

    .inputButton{

        margin-right: 7px;
        font-size: 0.7;
        padding: 15px;
    }

    .contenedorEspanol > .inputButton{

        font-size: 0.7em;
        margin-top: 30px;
        padding: 18px;
    
    }
    
    .contenedorEncriptado > .inputButton{
    
        font-size: 0.7em;
        margin-top: 30px;
        padding: 18px;
    
    }

    textarea{
        height: 150px;
        font-size: 1em;
    }
}

/*Configuraciones Horizontales*/

@media only screen and (max-height : 850px) {
    
    textarea{
        height: 200px;
    }
}

@media only screen and (max-height : 800px) {
    
    textarea{
        height: 175px;
    }
}

@media only screen and (max-height : 750px) {
    
    textarea{
        height: 150px;
    }
}

@media only screen and (max-height : 700px) {
    
    textarea{
        height: 125px;
    }
}

@media only screen and (max-height : 650px) {
    
    textarea{
        height: 100px;
    }
}

@media only screen and (max-height : 600px) {
    
    textarea{
        height: 75px;
    }
}

@media only screen and (max-height : 550px) {
    
    textarea{
        height: 50px;
    }
}

@media only screen and (max-height : 500px) {
    
    textarea{
        height: 25px;
    }
}

@media only screen and (max-height : 450px) {
    
    textarea{
        height: 25px;
    }
}

@media only screen and (max-height : 400px) {
    
    textarea{
        height: 25px;
    }
}

